<p id="notice"><%= notice %></p>

<section class="row text-center">
  <h1 class="col-lg-12"><%= @user.name %> :</h1>
</section>
<section class="row content-row text-center">
  <div class="col-lg-12">
    <h2>rôle : <%= @user.role %></h2>
    <p>mot de passe : <%= @user.password %></p>
    <p>identifiant :<%= @user.id %></p>
  </div>
</section>
