<p id="notice"><%= notice %></p>

<h1 class="text-center"><%= @advertisement.title.capitalize %></h1>

<section class="row content-row text-center">
  <div class="col-lg-12">
    <p class="popout"><strong>Prix :</strong> <%= @advertisement.price %> euros</p>
    <p><strong>Date de création :</strong> <%= @advertisement.created_at %></p>
    <p><strong>Contenu :</strong> <%= @advertisement.content %></p>
    <p><strong>Postée par :</strong> <%= @advertiser.name %>
  </p>
</section>

<% unless @advertisement.published %>
<%= button_to "Publier", advertisement_path(@advertisement, :advertisement => {:published => true}), :method => :put%>
<% end %>

<div class="separator"></div>

<section class="row text-center">
  <h2 id="comments-section">Commentaires</h2>
  <% @comments.each do |c| %>
    <div class="comment-container">
      <p class="comment">Posté par : <strong><%= User.find(c.user_id).name %></strong> | <%= c.content.capitalize %></p>
    </div>
    <% end %>
</section>
<% unless session[:user_id] == nil  %>
  <%= render 'comments_form' %>
<% end %>
